<% provide(:title, 'About') %>

<div class="page-header"><h1>About</h1></div>

<div class="row">
  <div class="col-lg-8">
    <p>The Grasp team has been assembled to create an app to engage students in
    their learning process. Our goal is to develop a student driven quantified
    learning application that builds upon the Center for Math And Science
    Teaching (CMAST) framework and gives students and teachers and easy and fun
    way to explore concepts.  The Grasp team consists of:</p>

    <ul>
      <li>Zach Latta - Programming wizard and business extraordinair</li>
      <li>Stanley Jackson - Programming juggernaut</li>
      <li>Steven Eno - El Segundo High School physics and engineering mage</li>
    </ul>
  </div>
</div>
