<% provide(:title, 'Acknowledgements') %>
<div class="page-header hidden-xs"><h1>Acknowledgements</h1></div>
<div class="visible-xs"><h1>Acknowledgements</h1><hr/></div>
Student Sign Up Icon - Lemon Liu, from The Noun Project
