<% provide(:title, 'Acknowledgements') %>

<div class="page-header"><h1>Acknowledgements</h1></div>

<ul>
  <li>Corrina Elder - Main Grasp Icon</li>
  <li>Luke Wright - Website frontend design</li>
  <li>Kathy Clemmer - CMAST Cohort Lead and Inspiration</li>
  <li>DirecTV - Continued support for enhanced education through technology in
  the classroom</li>
  <li>Lemon Liu, from The Noun Project - Student Sign Up Icon </li>
</ul>
