<% provide(:title, 'Help') %>
<div class="page-header"><h1>Help</h1></div>

<div class="row">
  <div class="col-lg-5">
    <h1>What is Grasp?</h1>
    <p>
      Lorem ipsum dolar sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quiz nostrud exercitation ullamco.
    </p>

    <h1>Why should you care?</h1>
    <p>
      Lorem ipsum dolar sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quiz nostrud exercitation ullamco.
    </p>

    <h1>How do you get started?</h1>
    <p>
      Lorem ipsum dolar sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quiz nostrud exercitation ullamco.
    </p>
  </div>
</div>
