<div class="main-jumbotron jumbotron">
  <h1><%= image_tag('logo_large.png', :alt => "Grasp") %></h1>
  <p>
    Grasp is the best way to use technology in your classroom.
  </p>

  <%= link_to 'Sign Up', sign_up_path, class: "btn btn-primary btn-lg "\
                                                "main-btn-sign-up",
    style: "width: 150px;" %>
</div>
<div class="row">
<div class="col-md-3"></div>
<div class="about-grasp col-md-6">
	<hr>
	<h1>What Grasp Does <span class="glyphicon glyphicon-pencil"></span></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, molestiae exercitationem atque laborum fugit asperiores temporibus aliquam consectetur. Qui nisi mollitia a praesentium quae. Ea, quos exercitationem incidunt maiores repellat.</p>
</div>
</div>
