<div class="center hero-unit">
  <h1>Grasp</h1>
  <p>
    Grasp is the best way to use technology in your classroom. Lorem ipsum
    dolor sit amet
  </p>

  <%= link_to 'Sign Up', '#', class: 'btn btn-large btn-primary' %>
</div>
