<div class="center hero-unit">
  <h1><%= image_tag('logo_large.png') %></h1>
  <p>
    Grasp is the best way to use technology in your classroom. Lorem ipsum
    dolor sit amet
  </p>

  <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-large btn-primary' %>
</div>
