<div class="main-jumbotron jumbotron">
  <h1><%= image_tag('logo_large.png', :alt => "Grasp") %></h1>
  <p>
    Quantified learning.
  </p>

  <%= link_to 'Sign Up', sign_up_path, class: "btn btn-primary btn-lg "\
                                                "main-btn-sign-up",
    style: "width: 150px;" %>
</div>
