<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>

<div class="landing">
  <div class="row">
    <div class="span4 offset2">
      <%= link_to student_sign_up_path do %>
    <div class="well well-small">
      Register as a Student
    </div><% end %>
  </div>
  
  <div class="span4">
    <%= link_to teacher_sign_up_path do %>
    <div class="well well-small">
      Register as a Teacher
    </div><% end %>
  </div>
</div>

