<% provide(:title, 'Sign In') %>
<h1>Sign In</h1>

<div class="row">
  <div class="span9"><br><br>
    <div class="row">
      <div class="span1 offset2">
        <%= link_to 'Students', student_sign_in_path,
          class: 'btn btn-large btn-primary' %>
      </div>
      
      <div class="span1 offset5">
        <%= link_to 'Teachers', teacher_sign_in_path,
          class: 'btn btn-large btn-primary' %>
      </div>
    </div>
  </div>
</div>


