<%= form_tag students_add_course_path, method: 'post' do  %>
  <fieldset>
    <div class="form-group">
      <%= label_tag :code %>
      <%= text_field_tag :code, nil,
        class: "form-control",
        placeholder: "Course code" %>
    </div>
    <%= submit_tag "Add Course", class: "btn btn-default"%>
  </fieldset>
<% end %>
