<% provide(:title, 'Student Profile') %>

<%= render 'add_course_modal' %>

<div class="page-header"><h1><%= @student.full_name %></h1></div>

<% if @student.courses.empty? %>
  <%= render 'no_courses_home' %>
<% else %>
  <%= render 'course_overview' %>
<% end %>
