<% @lt.unit.course.enrollments.each do |e| %>
  <% e.learning_target_progresses.each do |p| %>
  <tr>
    <td><%= e.student.full_name %></td>
    <td><%= p.level %></td>
    <td><span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span></td>
  </tr>
  <% end %>
<% end %>