<tr>
  <% if current_student.current_progress(@lt.unit.course).nil? %>
  <% new_progress %>
  <% else %>
  <td><%= current_student.current_progress(@lt.unit.course).level%></td>
  <% end %>
  <td>     
     <%= link_to "", root_path, 
      :class => "glyphicon glyphicon-chevron-up" %>
      &nbsp;
      
      <%= link_to "", root_path, 
      class: "glyphicon glyphicon-chevron-down" %>
  </td>
</tr>