<% @lt.unit.course.enrollments.each do |e| %>
  <% e.learning_target_progresses.each do |p| %>
  <tr id=<%= e.student.id %> >
    <td><%= e.student.full_name %></td>
    <td><%= p.level %></td>
    <td>
      <%= link_to "Change Level", '#levelModal',
      :class => "btn btn-primary btn-sm",
      :data => { :toggle => "modal" }, 
      :student_id => e.student.id %>

    <% end %>
    </td>
  </tr>
  <% end %>
