<% provide(:title, "LT #{ @lt.number }") %>

<div class="page-header">
  <dl>
    <dt><h1><%= "Learning Target #{ @lt.number }" %></h1></dt>
    <dd><%= @lt.description %></dd>
  </dl>
</div>

<%= render 'teacher' if teacher_signed_in? %>
<%= render 'student' if student_signed_in? %>
