<% provide(:title, "LT #{ @lt.number }") %>

<div class="page-header">
  <dl>
    <dt><h1><%= "Learning Target #{ @lt.number }" %></h1></dt>
    <dd><%= @lt.description %></dd>
  </dl>
</div>

<% if teacher_signed_in? %>
  <table class="table" data-provides="rowlink">
    <tr>
      <th>Student</th>
      <th>Level</th>
      <th>Level Up?</th>
    </tr>
    <%= render 'teacher_progress' %>
  </table>

<% end %>

<% if student_signed_in? %>
  <table class="table" data-provides="rowlink">
    <tr>
      <th>Level</th>
      <th>Level Up?</th>
    </tr>  
    <%= render 'student_progress' %>
  <table>
<% end %>
