- provide(:title, "About")

.row
  %h1 About

  %p
    The Grasp team has been assembled to design a web-based tool that enables 
    students to become the drivers of their own learning. Our goal is to
    develop a student driven quantified learning application that promotes
    mastery of mathematics and science through the eight mathematical practices
    defined in the U.S. Common Core State Standards and eight science and
    engineering practices defined in the U.S. Next Generation Science Standards.
  %ul
    %li 
      Steven Eno – Software Engineer and program director and manager.
      CEO, Eno Software and El Segundo High School AP Physics and Project
      Lead the Way engineering expert practitioner.
    %li 
      Kathy Clemmer- Math Education expert in taking theory and putting it 
      into practice to increase student learning in STEM and program design 
      expert. Director, Mathematics Leadership Corps and El Segundo High 
      School AP Calculus and Pre-Calculus expert practitioner.
    %li
      Zach Latta - Programmer, designing both the front and back end    
      development aspects of the tool and expert technical advisor.
    %li
      Stanley Jackson – Programmer, designing both the front and back end 
      development aspects of the tool and expert technical advisor.