- provide(:title, "About")

.row
  %h1 About

  %p
    The Grasp team has designed a web-based tool that enables students to
    become the drivers of their own learning. GRASP is a student driven
    quantified learning application that provides students with accurate,
    current, and trending data on their progression toward mastery in
    Mathematics, Physics, and Engineering courses. GRASP is designed to
    promote a growth mind set in learning Mathematics, Physics, and Engineering
    and embraces the philosophy: 
  %blockquote 
    It always seems impossible until it’s done.
    %cite Nelson Mandela

  %b Meet the GRASP Team
  %p
  %ul
    %li 
      Katharine Clemmer- Math Education Loyola Marymount University faculty and
      expert practitioner at El Segundo High School who informed design
      decisions to ensure alignment with innovative teaching and learning
      methodologies specific to middle school and high school students
    %li 
      Steven Eno – Software Engineer and CEO of Eno Software. El Segundo High
      School AP Physics teacher who designed the initial GRASP platform.
    %li
      Stanley Jackson – Lead Programmer, designing and implementing both the
      front and back end aspects of GRASP.
    %li
      Zach Latta - Programming consultant for the initial front and back end
      development of the tool.