- provide(:title, "ACE-M Tool")

.row
  %h1.text-center ACE-M Tool
  %h5.subheader.text-center Doing & Thinking Through Mathematics
  %br
  %h4.text-center APPROACH
  %h4.text-center Ask Questions
  
  %p
    %strong When you first tried the task, did you...? 

  %ul
    %li 
      Annotate the written representation of the task and recall connected
      facts
    %li
      Write out questions that come to mind about what properties the object,
      phenomena, or relationship has
    %li 
      Create alternative representations (sketches, graphs, verbal descriptions)
    %li State the goal
    %li Identify the given relevant information and facts that might connect
    
  %p
    %strong When you were thinking about the math, did you...? 

  %ul
    %li 
      Ask if any of the given information is irrelevant, missing,
      or contradictory
    %li Ask how I know if my representations and given information are relevant 
    %li 
      Identify questions that need to be answered to clear up points of
      confusion
    %li Ask if there are different ways to understand the task
    %li Contrast the current problem/task to previous ones
    %li Consider alternative ways of interpreting the task and/or goal
    %li Ask if there is an error in my facts and approach
    %li
      Ask if I need to take a step back and work more on exercises before
      tackling this problem

  %h4.text-center CREATE A PLAN
  %h4.text-center Imagine a Pathway
  
  %p
    %strong Looking at your plan, did you...? 

  %ul
    %li 
      Use the givens, identify models, relationships, and/or concepts that
      might apply
    %li Symbolically relate the givens with the model
    %li 
      Using the model/concepts/relationships, establish connections and
      intermediate steps between givens and goal

  %p
    %strong Thinking through your plan, did you...? 

  %ul
    %li 
      Decide if any approximations or assumptions, which weren't stated in the
      task, need to be made
    %li Decide if the model(s) are compatible with each other
    %li
      Compare the plan to others used in previous tasks to determine if
      reasonable
    %li Ask if all objects that look like this have the same property
    %li Evaluate the plan for completeness. 
    %li Consider alternative plans
    %li Ask if I can describe the relationships 
    %li Ask if there is an error in concept knowledge
     
  %h4.text-center EXECUTION
  %h4.text-center Create and Improve
  
  %p
    %strong When executing your plan, did you...? 

  %ul
    %li Follow the plan (solution pathway) until your goal is attained
    
  %p
    %strong When thinking through your execution, did you...?
    
  %ul
    %li Continuously examine the plan to ensure it is working
    %li Ask if there is an error in the procedure
    %li Examine the outcome of the plan for coherence
    %li 
      Compare the result of the plan against previous experiences to test if
      reasonable
    %li Check to see if the task has been completed
    %li Consider if the solution pathway will always work in all cases
    
