- provide(:title, ("ACE'M?").html_safe)

.row
  %h1 ACE'M Protocol
  %h4.subheader Monitoring During each part of ACE
  
  %p
    %strong A: 
    Analyze the Problem/Task- interpret and understand what is provided in
    the task.
    
    %ul.small-12.columns 
      %li 
        Ask if any of the given information is irrelevant, missing, and/or 
        contradictory.
      %li Contrast the current task to previous ones.
      %li Check to understand the task.
      %li Consider alternative ways of interpreting the task and/or goal.
      %li Identify questions that need to be answered.
      
  %p
    %strong C: 
    Create a Plan- connect the given information and goal with models/
    concepts/relationships
    
    %ul.small-12.columns 
      %li Decide if the model(s) are compatible with each other.
      %li 
        Compare the plan to others used in previous tasks to determine if
        reasonable.
      %li 
        Evaluate the plan for completeness. Decide if any approximations or
        assumptions, which weren't stated in the task, need to be made.
      %li Consider alternative plans.

  %p
    %strong E: 
    Execute a Plan
    
    %ul.small-12.columns 
      %li Examine the outcome of the plan for coherence.
      %li 
        Compare the result of the plan against previous experiences to test
        if reasonable.
      %li Check to see if the task has been completed.
      %li Consider alternative ways of interpreting the task and/or goal.
      %li Ponder alternative ways of executing the plan.