- provide(:title, "Acknowledgements")

.row
  %h1 Acknowledgements

  %ul
    %li Corrina Elder - Main Grasp icon
    %li Luke Wright - Website frontend design
    %li Kathy Clemmer - CMAST Cohort Lead and Inspiration
    %li
      DirecTV - Continued support for enhanced education through technology in
      the classroom
    %li Sourcegraph - Generous support for the open-source community

