- provide(:title, "Acknowledgements")

.row
  %h1 Acknowledgements
  
  %p 
    %strong
      Funder:
  
  =image_tag "directv.svg"
  
  %p
  %ul
    %li DIRECTV – provided funding for design the initial version of GRASP
    
  %p 
    %strong
      Artwork:
  
  %ul
    %li Corrina Elder - Grasp logo
    
  %p 
    %strong
      Technical Advisors:
  
  %ul
    %li 
      Benjamin Landers- High School Student technical advisor for usability and 
      interface
    %li
      Professor Clemmer and Mr. Eno’s El Segundo High School students
      (2013-2014) who provided feedback during alpha and beta testing.