.row
  %h1 Sign Up Selection

  .medium-5.columns
    %ul.pricing-table
      %li.title Student
      %li.price= image_tag "hoberman.svg"
      %li.bullet-item You want to take control of your learning.
      %li.bullet-item Create a customized plan that maximizes your learning.
      %li.bullet-item Become a master in mathematical and scientific thinking.
      %li.cta-button
        %a= link_to "Student", new_student_registration_path, class: "button"

  .medium-5.columns
    %ul.pricing-table
      %li.title Teacher
      %li.price= image_tag "mlc.svg"
      %li.bullet-item
        Our students are equal stakeholders in the assessment FOR learning
        process
      %li.bullet-item 
        Our students learn STEM by creating, exploring, and thinking.
      %li.bullet-item 
        We are passionate about ensuring our instruction leads to a growth
        mindset in STEM for ALL of our students.
      %li.cta-button
        %a= link_to "Teacher", new_teacher_registration_path, class: "button"
