<% @courses.each do |course| %>
  <div class="tab-pane active fade in" id="<%= course.name %>" >

    <% if course.units.first.nil? %>
    
    <%= render 'no_units', course: course %>
    
    <% else %>
    
    <%= render 'units', course: course %>
    
    <% end %>
  </div>
<% end %>