<ul class="nav nav-tabs" id="courseTab">
  <%= render 'tabs' %>
  <li><a data-toggle="modal" href="#courseModal">New Class</a></li>
</ul>

<div class="tab-content">
  <%= render 'courses' %>
</div>



