<%= form_for Unit.new, :url => courses_path do |f| %>
<div>
  <%= f.text_field :number, placeholder: "Unit Number" %><br><br>
  <%= f.text_field :name, placeholder: "Unit Name" %>
</div><br>
<%= f.submit "Continue", class: "btn btn-primary"%>

<% end %>