<%= form_for Unit.new, :url => units_path do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.text_field :number,
        class: 'form-control',
        placeholder: "Unit Number" %>
    </div>
    <div class="form-group">
      <%= f.text_field :name,
        class: 'form-control',
        placeholder: "Unit Name" %>
    </div>
    <%= f.submit "Continue", class: "btn btn-default"%>
  </fieldset>
<% end %>
