<tr>
  <% if current_student.current_progress(@concept.unit.course).nil? %>
  <% new_progress %>
  <% else %>
  <td><%= current_student.current_progress(@concept.unit.course).level%></td>
  <% end %>
  <td>     
    <%= link_to "Edit Concept", '#levelModal',
    :class => "btn btn-primary btn-sm changebutton",
    :data => { :toggle => "modal" }, 
    :id => current_student.id %>
  </td>
</tr>
