<table class="table" data-provides="rowlink">
  <thead>
    <th>Student</th>
    <th>Level</th>
  </thead>
  <% if @concept.unit.course.enrollments.empty? %>
    <div class="no-courses text-center">
      There are currently no students enrolled.
    </div>
  <% else %>
    <%= render 'teacher_progress' %>
  <% end %>
</table>
