<table class="table">
  <tr>
    <th>LT</th>
    <th>Description</th>
    <th>Level</th>
    <th>Level up?</th>
  </tr>
  <% @unit.learning_targets.each do |lt| %>
    <tr>
      <td><%= lt.number %></td>
      <td><%= lt.description %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
