<div class="panel">
  <div class="panel-heading lt-heading clearfix">Learning Targets
    <a data-toggle="modal" href="#ltModal">
      <button type="button" class=" btn btn-default btn-sm pull-right">New Learning Target</button>
    </a>
  </div>
  <table class="table">
    <tr>
      <th>LT</th>
      <th>Description</th>
    </tr>
    <% @unit.learning_targets.each do |lt| %>
      <tr>
        <td><%= lt.number %></td>
        <td><%= lt.description %></td>
      </tr>
    <% end %>
  </table>
</div>
