<% unless @unit.concepts.empty? %>
  <%= render 'concept_list' %>
<% else %>
  <%= render 'no_concepts_warning_teacher' %>
<% end %>
<div>
  <a data-toggle="modal" href="#deleteUnitModal">
    <button type="button" class="btn btn-default btn-sm pull-right">
      Delete Unit
    </button>
  </a><br>
</div>