$color: #d05f59;

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;

  .bar {
    background: $color;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  } 
}

