/* Home Page */

.main-jumbotron {
  text-align: center;
}

.main-btn-sign-up {
  margin-top: 25px;
}


/* Sign Up Select Screen */

.sign-up-option {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;

  .sign-up-option-icon {
    $vertical_offset: 50px;
    margin: $vertical_offset 0px $vertical_offset 0px;
  }

  /*.sign-up-option-select-button {*/
    /*margin-top: 25px;*/
    /*margin-bottom: 15px;*/
  /*}*/

  .sign-up-option-points {
    width: 80%;
    margin: 0 auto;

    li {
      text-align: left;
      font-size: 16px;
    }
  }
}
