.row
  %hr
  %ul.footer
    %li= link_to "About", about_path
    / %li= link_to "Contact", contact_path
    %li= link_to "Acknowledgements", acknowledgements_path
    %li= link_to "Learnings Tool", tools_path
