<div class="footer">
  <hr>
  <ul class="footer-inner">
    <li><%= link_to "About",   about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>   		
    <li><%= link_to "Acknowledgements", acknowledgements_path %></li>
  </ul>
</div>
