%li= link_to "Home", root_path
- unless user_signed_in?
  %li= link_to "Sign up", sign_up_selection_path
  %li= link_to "Sign in", new_user_session_path
- else
  %li= link_to "Sign out", destroy_user_session_path, method: :delete
